* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 5px;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-bar {
    margin-right: 50px;
    font-size: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

#nav-bar a{
    text-decoration: none;
    color:rgb(255, 151, 168);
}

#nav-bar a:hover {
    color: rgb(41, 167, 58);
}

@media (max-width: 500px) {
    body {
flex-wrap: wrap;
}
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

#mission {
    background: rgb(248, 255, 189);
    margin: 0;
    padding: 0;
    padding-top: 275px;
    height: 100vh;
    box-sizing: border-box;
}

#sign-up p, h3{
    padding-right: ;
}

#vid-box {
    display: flex;
    margin: 50px;
    justify-content: center;
    object-fit: fill;
    padding: 0;
    align-items: center;
    padding-right: ;
}

#video {
    width: inherit;
    height: inherit;
}

.shop-div {
    background-color: rgb(255, 241, 251);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-rows: 1fr 1fr;
   display: flex;
   flex-flow: wrap;
   padding-bottom: 75px;
   margin-top: 25px;
   padding-left: 25;
}

#shop {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

#shop h3{
    padding-top: 100px;
    line-height: 0px;
    text-align: center;
    font-size: 30px;
    color: rgb(41, 167, 58);
}

#shop p{
    text-align: center;
    color: rgb(41, 167, 58);
}


.nested-div p{
    border: 1px solid #ffffff;
    padding: 20px;
    margin: 0px;
    display: grid;
}

.img {
    border: 5px solid #ffffff;
    margin: 40px;
    margin-left: 70px;
    margin-top: 100px;
    height: 400px;
    width: 325px;
}

#sign-up {
    background-color: rgb(211, 255, 228);
    margin: 0;
    padding: 0;
}

#signup-div {
    padding-top: 50px;
}

h3 {
    margin: 0px;
    padding: 25px;
    font-family: 'Fredoka One', cursive;
}

p {
    margin: 0px;
    padding: 25px;
    font-family: 'Lora', serif;
}

#mission h3{
    font-size: 75px;
    color: rgb(255, 151, 168);
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
}

#mission p{
    font-size: 20px;
    color: rgb(41, 167, 58);
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
    min-width: 25pc;
}

a {
    font-family: 'Open Sans', sans-serif;
}

#sign-up {
    height: 100vh;
    box-sizing: border-box;
    padding-top: 50px;
    text-align: center;
    color: rgb(41, 167, 58);
}

#sign-up h3{
    font-size: 30px;
}


#header-img {
    margin-left: 10px;
    margin-top: 10px;
}

.submit {
    cursor: pointer;
}