* {
font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 5px;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-bar {
    margin-right: 50px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 500px) {
    body {
flex-wrap: wrap;
}
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

#mission {
    background: rgb(169, 215, 255);
    margin: 0;
    padding: 200;
    font-size: 10px;
}

#vid-box {
    display: flex;
    margin: 0px;
    align-self: flex-end;
    object-fit: fill;
    padding: 0;
}

#video {
    width: inherit;
    height: inherit;
}

.shop-div {
    background-color: rgb(246, 202, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-rows: 1fr 1fr;
   display: flex;
   flex-flow: wrap;
}

#shop {
    padding: 0;
    margin: 0;
    background-color: rgb(246, 202, 255);
}

.nested-div p{
    border: 1px solid #ffffff;
    padding: 20px;
    margin: 0px;
    display: grid;
}

.img {
    border: 5px solid #ffffff;
    margin: 40px;
    margin-left: 70px;
    margin-top: 50px;
    height: 400px;
    width: 325px;
}

#sign-up {
    background-color: rgb(187, 255, 213);
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0px;
    padding: 25px;
}

p {
    margin: 0px;
    padding: 25px;
}

#mission {
    height: 100vh;
    box-sizing: border-box;
}

#sign-up {
    height: 100vh;
    box-sizing: border-box;
    padding-top: 75px;
}
